<div class="footer">
  <div class="add">
    <div>
      <h4>
        <b>
          Head Office
        </b>
      </h4>
      <p>
        205, Shakar Bhavan Co-op.
      </p>
      <p>
        340/348, Narshi Natha Street,
      </p>
      <p>
        Masjid(w), Mumbai-400009.
      </p>
    </div>

    <div>
      <h4>
        <b>
          Ahmedabad Office
        </b>
      </h4>
      <p class="para">
        Gala No.10, Ganshaym Estate,
      </p>
      <p>
        Opp. kashiram Textiles-BRTS,
      </p>
      <p>
        Narol-Chandola Road, Narol,
      </p>
      <p>
        Ahmedabad(Gujarat)-382405.
      </p>
    </div>
  </div>
  <div>
    <span>
      <h5 class="about"><a routerLink="/home">Home</a></h5>
      <h5 class="about"><a routerLink="/aboutus">About Us</a></h5>
    </span>
  </div>
</div>
