<div class="footer">
  <div class="add">
    <div>
      <h4>
        Address
      </h4>
      <p>
        Street
      </p>
      <p>
        Road
      </p>
      <p>
        Location
      </p>
    </div>

    <div>
      <h4>
        Address
      </h4>
      <p>
        Street
      </p>
      <p>
        Road
      </p>
      <p>
        Location
      </p>
    </div>
  </div>
  <div>
    <span>
      <h5><a routerLink="/home">Home</a></h5>
      <h5><a routerLink="/aboutus">About Us</a></h5>
    </span>
  </div>
</div>
