<div class="main">
  <h3 class="about-us">About Us</h3>
  <hr />
  <h1 class="company-name">Balaji Trades</h1>
  <h5 class="subtext"><i> <b> Distributor of Numaligarh Refinery Limited (NRL) Government of India Enterprise</b></i></h5>
  <h4 class="aboutus">
    We Balaji Traders (Proprietor Suresh Bang) established in 2001, distributor
    of Numaligarh Refinery Limited (NRL) Government of India Enterprise is one
    of the leading importers and suppliers of industrial chemicals and waxes,
    which are known for their excellent quality and performance in the market.
    Our company deals in a wide and unmatched range of products which includes
    Industrial Wax, PVC Wax, Polyethylene Waxes, Semi Refined Paraffin Wax, Zinc
    Oxide/Stearic Acid, Gum Rosin, Microcrystalline Wax, Fully Refined Paraffin
    Wax, White Petroleum Jelly, Candle Raw Material, Stearic Acid Powder,
    Microcrystalline, Residue Wax, Slack Wax, Carnauba Wax etc. We also have the
    flexibility to improve our range and introduce new products.
  </h4>
  <h4 class="aboutus">
    Our physical presence is in Mumbai and Ahmedabad. Committed to delivering
    high-quality industrial chemicals and waxes at an economical price, we have
    gained wide acceptance from our clients in the domestic and international
    markets.
  </h4>
  <hr />
  <div class="row">
    <div class="col">Business Type</div>
    <div class="col">Importers</div>
  </div>
  <div class="row">
    <div class="col">Advantages</div>
    <div class="col">
      <p>Best Quality Products + Pricing</p>
      <p>	On Time Delivery</p>
      <p>	Huge Quantity Production and Stock</p>
    </div>
  </div>
  <div class="row">
    <div class="col">Year of Establishment</div>
    <div class="col">2001</div>
  </div>
  <div class="row">
    <div class="col">Year of Establishment</div>
    <div class="col">2001</div>
  </div>
</div>
